
.box-1 {
  width: 50%;
  text-transform: capitalize;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30%;
  background-color: aquamarine;
}
.box-2 {
  width: 50%;
  text-transform: capitalize;
 
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30%;
  background-color: yellow;
}
.box-3 {
  width: 50%;
  text-transform: capitalize;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30%;
  background-color: powderblue;
}
#btn {
  border-radius: 50%;
  color: white;
  background-color: black;
  padding: 20px;
  width: 100px;
  
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.heading {
  text-align: center;
  color: red;
}

.loading{
 text-decoration-color: purple;
 
}